@charset "UTF-8";
body { margin: 0; overflow: hidden;}
canvas { width: 100%; height: 100%;}

.RobotControlCoordinates{
    position: static;
    float:right;
    text-align:right;
}

.RobotControl2{
    position: static ;
    float: right;
    text-align: center; 
}